* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

html,
body {
    background-color: #efefef;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-rendering: optimizeLegibility;
    
}
.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
li{
    list-style: none;
}
/* header */

header{

    background: #232f3e;
    height:100px;

}
.fill{


}
.menu-fix{
    font-size:90%;
    background: #28384c;
    width: 100%;
    position:fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;


}
.header{
    position: relative;
    z-index: 99;
}
.header .nav-bar{
    margin-top: 30px;
}
header nav .logo {
    float:left;
    width: 131px;
    height: 100px;
    margin: 0 15px;
}
/*------------------------ search ------------------------*/

header nav .search div{
    float:left;
}
header nav .search .search-left{
    width: 70px;
    height: 37px;
    font-size: 60%;
    text-align: center;
    background: #efefef;
    color:#232f3e;
    line-height: 37px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-top:2px;
}
header nav .search .search-left select{
    height: 37px;
    width: 70px;
    border:none;
   
}

header nav .search .search-fill input{
    /* border-radius: 15px; */
    border:none;
    height: 37px;
    width: 400px;
    margin-top:2px;
}
header nav .search .search-button{
    width: 37px;
    height: 37px;
    background: #e67e22;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-left:-6px;
}
/*------------------------ menu ------------------------*/
.menu-nav {
    /* float: right; */
    margin-bottom: 0;
    list-style: none;
    font-size:90%;
   
}
header nav  li {
    display: inline-block;
    /* list-style: none; */
    margin-left:20px;
}


header nav  li a:link,
header nav  li a:visited {

    padding: 8px 5px;
    color: #ffffff;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

/*header nav  li a:hover,*/
/*header nav  li a:active {*/
    /*border-bottom: 2px solid #e67e22;*/
/*}*/
header nav  li .login{
    display: none;
}
header nav  li i{
    margin-right:10px;
}
header nav .account{
    margin-left: 50px;
    border: 2px solid white;
    border-radius: 15px;
    text-align: center;
    padding: 2px 5px;
}
header nav .account a:hover{
    border-bottom:none;
}

nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: orange;
    height: 1px;
}
nav.stroke ul li a:hover:after {
    width: 100%;
}

nav.fill ul li a {
    transition: all 1s;
}

nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
}
nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1.5s forwards;
    -webkit-animation: fill 1.5s forwards;
    -moz-animation: fill 1.5s forwards;
    opacity: 1;
}
/*keyframe*/
@-webkit-keyframes fill {
    0% {
        width: 0%;
        height: 2px;
    }
    50% {
        width: 100%;
        height: 2px;
    }
    100% {
        width: 100%;
        height: 2px;
        background: orange;
    }
}
.itemNumber{
    margin-left:0px;
    display: inline-block;
    width: 25px;
    height: 25px;
    color:black;
    font-weight: bold;
    font-size:90%;
    line-height: 25px;
    text-align: center;
    background: #ffc560;

}
/*------------------------ quote ------------------------*/
.Quote {
   background: #131a22;
   position: relative;
}
.Quote i{
    color:white;
    font-size:80%;
   
    
}
.group-btn {
    top:45%;
    right :15px;
    position: fixed;
   
   
   
    z-index: 999;
}
.group-btn a{
    display: block;
    margin-bottom: 15px;
    background: orange;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
}
.Quote p {
  line-height: 1.4em;
  margin-bottom: 0px;
}

.Quote .quote {
  position: relative;
  letter-spacing: .03em;
  margin-bottom: .5rem;
}
.Quote .quote:before {
  content: "“";
  position: absolute;
  left: -.7em;
}
.Quote .quote:after {
  content: "”";
  margin-right: -1rem;
}

.Quote .quote--container {
  margin: 0 auto;
  width: 17em;
  border-bottom: 2px dotted #C6D1BF;
  padding: .5rem 0;
  color: #F4FFF3;
  font-smoothing: antialiased;
  
  line-height: 1.4rem;
  height: 100%;
  font-family: 'EB Garamond';
  font-size: 100%;
}

.Quote .quote--highlight {
  color: #D24335;
}

.Quote .quote--author {
  font-family: 'Open Sans Condensed';
  font-size: .8rem;
  text-align: right;
  font-weight: 300;
}
/*------------------------ banner ------------------------*/
/*.Banner,.Quote{*/
    /*display: none;*/
/*}*/
.Banner .container {
    padding: 10px;
    position: relative;
    
}
.Banner img{
    height: 250px;
    width: 100%;
    
  
}
.Banner .carousel-control-prev-icon{
   /* margin-left:150px; */
   color:white;
}
.Banner .carousel-control-next-icon{
    /* margin-right:150px; */
 }


.main{
    color:black;
    font-size: 70%;
   
}
.main .col-sm{
    padding: 0 !important;
}.main .category{
    width: 18%; 
    padding: 20px 0;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    background:white;
    float:left;
    border: 1px solid green;
}
    .main .category > li{
        float:left;
      
    } 
    .main .category li{
        position: relative;
        padding:0 0 10px 20px;
       
    }
    .main .category li ul{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        position: absolute;
        top:0;
        left:221px;
        z-index: 999;
        width: 200px;
       
        background:white;
        margin: 0;
        padding-left: 20px;
        border-radius: 3px;
        border:1px solid green;
      
    }
    .main .category li:hover ul{
        display: block;
        border-left:#F5F7F9;
        visibility: visible;
        opacity: 1;
        
    }  
.main .category p{
    text-align: center;
    font-size:120%;
}
.main .category a:visited,
.main .category a:link{
    color:black;
    text-decoration: none;
}
.main .category a:active,
.main .category a:hover{
    color:orangered;
    
}
.list-book i{
    margin-right: 5px;
}
.main-center{
    margin-left:1%;
    
    display: inline-block;
    width: 80%;
    background: #ffffff;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    padding-bottom: 50px;
}
.main-center .row{
    margin:0 0 20px 0;
    
}

.main-header{
  border-bottom: 1px solid #ecedee;
  margin: 15px 15px 0 15px;
  
}
.main-header h5{
    float:left;
    padding-left: 15px;
    text-transform: capitalize;
}
.main-header ul li{
    float:right;
    margin:0 20px;
}
.main-header ul li{
    float:right;
    margin:0 20px;
}
.main-header ul li a:link,
.main-header ul li a:visited{
    color:black;
}
.main-header ul li a:hover,
.main-header ul li a:active{
    text-decoration: none;
    color:#131a22;
    
    
}
.main-header li:hover {
    border-bottom:2px solid #131a22;
}
.main-header .actived {
   
    border-bottom:2px solid #131a22;
}
.main-header .actived a{
    color:#131a22;
    
}
.main-body{
    min-height: 764px;
}
.main-paginate{
    margin-top: -20px;
    padding-top: 35px;
}
.main-paginate ul li{
    float: right;
margin: 0 10px;
border-radius: 100%;
border: 2px solid #131a22;
width: 30px;
text-align: center;
}
.main-paginate ul li a{
    color:black;
}
.Shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 1px 1px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.item {

    margin-right: 5px;
    margin-top: 30px;
    position: relative;
    padding-bottom: 30px;
    border-radius: 3px;
    height: 190px;
    background: #fdfef1;
}
.item:hover{
    border:1px solid green;
    background:white;
    

}
.item a:link,
.item a:visited{
 color: #174e8d;
overflow: hidden;
display: inline-block;
width: 40%;
height: 65px;
font-size: 90%;
font-weight: 500;

}
.item a:hover,
.item a:active{
    text-decoration: none;
    color:green;
}

.item .detail{
    display: none;
}
.item .detail i{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 200%;
    color:#ffffff;
    
}
.item .download {
    border: 1px solid gray;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 30px;
}
.item .download:hover i{
    color:white;
}
.item .download:hover{
    background: green;
}
.item .author{
   font-size:12px;
   height: 35px;
   overflow: hidden;
}
.item .price{
    font-size:15px;
    height: 20px;
    overflow: hidden;
 }
 .item .salePrice{
    font-size:12px;
    height: 20px;
    overflow: hidden;
 }
.item .rate{
    position: absolute;
    bottom: 0;
    left:10px;
}
.item .rate i{
    font-size:80%;
}
.item i{
    color:green;
}
.item p i{
    font-size: 80%;
}
.item img{
    vertical-align: middle;

border-style: none;

width: 50%;

height: 170px;
float: left;
    margin-top: -20px;
    margin-left: 10px;


}
.item p{
  
    margin-top: 0;

margin-bottom: 0;

text-align: center;
}

.creative{
    /* background: url('image/abstract-art-artistic-1020315.jpg'); */
    background-image: url(../image/abstract-art-artistic-1020315.jpg);
    margin-top: 50px;
    padding:50px 10px;
}

.creative-main{
    padding: 20px 0;
    position: relative;
    overflow: hidden;
}
.creative-main i{
    position: absolute;
    top:50%;
    font-size:150%;
}
.creative-main .left{
   
    left:1%;
}
.creative-main  .right{
   
    right:1%;
}
.creative img{
    width: 100%;
    height: 260px;


}
.creative ul li{
    float:left;
}
 .item-slide{
    float:left;


}
 .item-center{
     width: 60%;
     margin: 0 auto;
     position: relative;
     border: 15px solid #000000;
     border-radius: 5px;
     box-sizing: content-box;
 }
.item-center:hover  .black-rem{
    display: none;
}.item-center:hover{
     border: 15px solid white;
 }
 .black-rem{
     position: absolute;
     opacity: 0.3;
     width: 100%;
     height: 260px;
     top:0;
     left:0;
     background: black;
 }
.swipe-slide{
    width:1500px;
    transition: transform 0.5s;
}
#quote-descreption{
    quotes: "“" "„"  "‚" "‘";
    
}
.creative-quote{
    font-size:80%;
}





.wordart {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .wordart.italic-outline {
      transform: scale(1, 1.3);
      -webkit-transform: scale(1, 1.3);
      -moz-transform: scale(1, 1.3);
      -o-transform: scale(1, 1.3);
      -ms-transform: scale(1, 1.3);
  }
  
  .wordart.italic-outline .text {
      letter-spacing: -0.01em;
      font-family: Arial, sans-serif;
      font-weight: bold;
      font-style: italic;
      color: #fff;
      -webkit-text-stroke: 0.01em #000;
      filter: progid:DXImageTransform.Microsoft.Glow(Color=#000000, Strength=1);
      text-shadow: 0.03em 0.03em 0 #6D6D6D;
  }
  
  
  .section-form{
    color:white;;
  }
  .section-form input,.section-form textarea{
      border-radius: 5px;
  }
  .section-form .row{
      margin-bottom: 10px;
  }
  .section-form .container{
    background: #232f3f;
color: white;
font-size: 80%;
padding-top: 40px;
width: 50%;
border-radius: 25px 0 25px 0;
margin-top: 50px;
padding-bottom: 10px;
  }
  .section-form form{
    margin: 0 auto;
  }
  .section-form h3{
      font-size:150%;
      color:white;
      margin: 0 auto;
      margin-bottom: 15px;
  }







/*---------------------------------------foooooter--------------------------------------- */
  footer{
      margin-bottom: -22px;
      background: #131A22;
      padding-top:40px;
      font-size:70%;
  }

  footer .container{
  
  }
  footer .about-us{
     
     
  }
  footer .about-us p{
      display: inline-block;
      margin:auto;
  }
  footer .copyright{
      text-align: center;
  } 
  footer i{
      margin: 15px;
  }
  footer img{
     width: 100px;
  }
  footer a:link,
  footer a:visited{
    color:white;
  }
  footer a:hover,
  footer a:active{
    text-decoration: none;
    color:orange;
  }footer p{
      margin: 0;
      padding: 0;
  }
  footer .copyright{
      border-top:1px solid #C6D1BF;
      padding: 10px 0;
  }

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #666;
}

h1 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 60px;
}

#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

.popupContainer {
    position: absolute;
    width: 330px;
    height: auto;
    left: 45%;
    top: 60px;
    background: #FFF;
}

#modal_trigger {
    margin: 40px auto;
    width: 200px;
    display: block;
    border: 1px solid #DDD;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    background: #F4F4F2;
}

.btn_red {
    background: #ED6347;
    color: #FFF;
}

.btn:hover {
    background: #E4E4E2;
}

.btn_red:hover {
    background: #C12B05;
}

a.btn {
    color: #666;
    text-align: center;
    text-decoration: none;
}

a.btn_red {
    color: #FFF;
}

.one_half {
    width: 50%;
    display: block;
    float: left;
}

.one_half.last {
    width: 45%;
    margin-left: 5%;
}
/* Popup Styles*/

.popupHeader {
    font-size: 16px;
    text-transform: uppercase;
}

.popupHeader {
    background: #F4F4F2;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
}

.popupHeader .modal_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    background: #E4E4E2;
    cursor: pointer;
    color: #aaa;
    font-size: 16px;
}

.popupBody {
    padding: 20px;
}
/* Social Login Form */

.social_login {}

.social_login .social_box {
    display: block;
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
    background: #F4F4F2;
    overflow: hidden;
}

.social_login .icon {
    display: block;
    width: 10px;
    padding: 5px 10px;
    margin-right: 10px;
    float: left;
    color: #FFF;
    font-size: 16px;
    text-align: center;
}

.social_login .fb .icon {
    background: #3B5998;
}

.social_login .google .icon {
    background: #DD4B39;
}

.social_login .icon_title {
    display: block;
    padding: 5px 0;
    float: left;
    font-weight: bold;
    font-size: 16px;
    color: #777;
}

.social_login .social_box:hover {
    background: #E4E4E2;
}

.centeredText {
    text-align: center;
    margin: 20px 0;
    clear: both;
    overflow: hidden;
    text-transform: uppercase;
}

.action_btns {
    clear: both;
    overflow: hidden;
}

.action_btns a {
    display: block;
}
/* User Login Form */

.user_login {
    display: none;
}

.user_login label {
    display: block;
    margin-bottom: 5px;
}

.user_login input[type="text"],
.user_login input[type="email"],
.user_login input[type="password"] {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #DDD;
    color: #666;
}

.user_login input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

.user_login input[type="checkbox"]+label {
    float: left;
}

.user_login .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}

.forgot_password {
    display: block;
    margin: 20px 0 10px;
    clear: both;
    overflow: hidden;
    text-decoration: none;
    color: #ED6347;
}
/* User Register Form */
.popup-login{
    position: fixed;
    top:20%;
    left: 40%;
    height: 500px;
    background: white;
    z-index: 99;
}
.popup-login input{
    display: block;
}
.user_register {
    display: none;
}

.user_register label {
    display: block;
    margin-bottom: 5px;
}

.user_register input[type="text"],
.user_register input[type="email"],
.user_register input[type="password"] {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #DDD;
    color: #666;
}

.user_register input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

.user_register input[type="checkbox"]+label {
    float: left;
}

.user_register .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}